.shortcut-selector {
	display: flex;
	gap: 10px;
	margin-bottom: 20px;
}

.shortcut-selector button {
	padding: 10px 20px;
	border: 2px solid #0077cc;
	background-color: white;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.2s, color 0.2s;
}

.shortcut-selector button.active {
	background-color: #0077cc;
	color: white;
}

.shortcut-pages {
	position: relative;
	min-height: 150px; /* reserve space for the content */
}

.shortcut-page {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	opacity: 0;
	transition: opacity 0.5s;
	pointer-events: none; /* don't allow clicks on hidden content */
}

.shortcut-page.fade-in {
	opacity: 1;
	pointer-events: auto; /* allow clicks on visible content */
}

.jp-exclaimer {
	color: #cc3300;
	font-weight: bold;
	display: inline-flex;
	align-items: center;
	gap: 5px;
}
