.tooltip-wrapper {
	position: relative;
	display: inline-block;
	cursor: pointer;
}

.tooltip-content {
	position: absolute;
	top: 120%;
	left: 50%;
	transform: translateX(-50%);
	background-color: #000000;
	color: #fff;
	padding: 10px;
	border-radius: 5px;
	width: 450px;
	z-index: 10;
	box-shadow: 0 2px 6px rgba(0,0,0,0.2);
	opacity: 0.95;
}

.tooltip-content .title {
    font-weight: bold;
}

.tooltip-content .jp-cartridge {
	width: 100%;
	border-radius: 4px;
	margin-bottom: 5px;
}
